.main-panel {
  font-family: sans-serif;
  margin-left: 1in;
}

.board {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  vertical-align: middle;
}

.board-lbracket {
  display: inline-block;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100%;
  width: 5px;
}

.board-rbracket {
  display: inline-block;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100%;
  width: 5px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 6px solid black;
  margin-top: 12px;
  background-color: #00000010;
}

.board-wrapper-equation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.board-wrapper-controls {
  display: flex;
  width: 100%;
}

.push {
  margin-left: auto;
}

.board-wrapper-matrix {
  display: flex;
  padding: 3px;
}

.board-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-title p {
  margin: 3;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: inherit;
  border: none;
  transition: 0.1s;
}

.cell-matrix {
  float: left;
}

.cell-small {
  width: 25px;
  height: 25px;
  line-height: 20px;
  border-radius: 0px;
}

.cell-hsplit {
  height: 20px;
}

.cell:hover:enabled,
.cell:focus-within {
  color: white;
  background: #4c72b0;
}

.cell:active:enabled {
  border: 1px solid red;
}

.cell:disabled {
  opacity: 0.2;
}

.operator-panel {
  display: table;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  z-index: 1000;
}

.operator-panel-item {
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.operator-panel-item:hover {
  opacity: 1;
}

.operator-panel sup {
  vertical-align: top;
  font-size: 0.8em;
  position: relative;
  top: -0.4em;
}

.operator-panel-item-free {
  float: left;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.operator-panel-item-free label {
  margin: 5px;
}

.cell-group-0 {
  background: #aaaaaa;
}

.cell-group-1 {
  background: #4c72b0;
}

.cell-group-2 {
  background: #dd8452;
}

.cell-group-3 {
  background: #55a868;
}

.cell-group-4 {
  background: #c44e52;
}

.cell-group-5 {
  background: #8172b3;
}

.cell-group-6 {
  background: #937860;
}

.cell-dropdown {
  line-height: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
}

.cell-caution {
  color: #f55;
}

.cell-symbol {
  font-size: 14pt;
  font-weight: bold;
}

/* ------------ */
/* NumberScroll */
/* ------------ */

.scroll-container,
.scroll-container label,
input {
  cursor: ns-resize;
}

.scroll-container input {
  border: none;
  height: 100%;
  width: 45px;
  padding: 0px;
  background-color: transparent;
  color: inherit;
  text-align: center;
}

.scroll-container input:focus {
  outline: none;
}

.scroll-container label {
  margin-left: 5px;
}

.scroll-container-invalid input {
  color: red;
}

/* ------------ */
/* ------------ */
/* ------------ */

.cell-flex {
  width: -moz-fit-content;
  width: fit-content;
}

.cell-placeholder {
  visibility: hidden;
}

.clear {
  clear: both;
  content: "";
}

.product {
  float: left;
  height: 30px;
  line-height: 30px;
}

.product-block {
  float: none;
  overflow: hidden;
}

.product-term {
  padding-left: 12pt;
  padding-right: 12pt;
  min-width: 80px;
  border-bottom: 1px solid #0000;
}

.product-term:hover {
  border-bottom: 1px solid black;
}

.product-term sub,
sup {
  font-size: 60%;
}

/* ------- */
/* Accents */
/* ------- */

.accent-1 {
  border-color: #286acc;
  background-color: #286acc10;
}

.accent-2 {
  border-color: #cc2859;
  background-color: #cc285910;
}

.accent-3 {
  border-color: #49cc28;
  background-color: #49cc2810;
}

.accent-4 {
  border-color: #cc8a28;
  background-color: #cc8a2810;
}

.accent-5 {
  border-color: #cc28bb;
  background-color: #cc28bb10;
}

.accent-6 {
  border-color: #289bcc;
  background-color: #289bcc10;
}

.accent-7 {
  border-color: #cc5928;
  background-color: #cc592810;
}

.accent-8 {
  border-color: #cc288a;
  background-color: #cc288a10;
}

.accent-9 {
  border-color: #2839cc;
  background-color: #2839cc10;
}

.accent-10 {
  border-color: #7acc28;
  background-color: #7acc2810;
}

.accent-11 {
  border-color: #cc2828;
  background-color: #cc282810;
}

.accent-12 {
  border-color: #ab28cc;
  background-color: #ab28cc10;
}
